/node_modules
/vendor
/app
/bootstrap
/test
/projects
/public/assets
/public/backend
/public/uploads
/public/index.php
.DS_Store
.tmp
composer.json
composer.lock
db.sql
artisan
phpunit.xml
server.php
.env.php
.env.local.php
